* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: solid 1px green;
  }

  .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    grid-template-rows: 150px 1fr 1fr;
  }
  .sidebar{
    grid-row: 1 / 4;
  }
  .header{
    grid-column: 2 / 4;
  }
  .main {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }
  .announcements{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
  .trending{
    grid-row: 3 / 4;
    grid-column: 3 / 34;
  }